@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
:root{
  --header-height: 3rem;
  --nav-width: 250px;
  --first-color: #062280;
  --first-color-light: #6BADEB;
  --white-color: #F7F6FB;
  --white-2: #adadad;
  --body-font: 'Nunito', sans-serif;
  --normal-font-size: 1rem;
  --z-fixed: 100
}

*,::before,::after{
  box-sizing: border-box
}

body{
  position: relative;
  margin: var(--header-height) 0 0 0;
  padding: 0 1rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: .5s
}

a{
  text-decoration: none
}

.header{
  width: calc(100% - var(--nav-width));
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: var(--white-color);
  z-index: -2;
  transition: .5s;
  padding-left: -250px;
}

.header_img{
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: end;
  border-radius: 50%;
  overflow: hidden
}

.header_img img{
  width: 40px;
}


.nav_list ul{
  display: none;
}
@media screen and (min-width: 768px){

  body{
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 2rem)
  }
  
  .header{
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
    z-index: 1;
    width: calc(100% - var(--nav-width));
    margin-left: 250PX;
  }
  
  .header_img{
    width: 40px;
    height: 40px
  }
  
  .header_img img{
    width: 45px
  }
  
  .l-navbar{
    left: 0;
    padding: 1rem 1rem 0 0rem;
  }
  
  .show{
    width: calc(var(--nav-width) + 100%)
  }
  
  .body-pd{
    padding-left: calc(var(--nav-width) + 188px)
  }
} 


/* Fixed sidenav, full height */
.sidenav {
  position: fixed;
  height: 100%;
  width: var(--nav-width);
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  font-family: var(--body-font);
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  margin: 6px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: green;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/* Posicionar el span en el centro horizontal */
.centered-span {
  position: fixed;
  top: 1%; /* Posicionar el elemento en el 50% superior de la pantalla */
  left: 50%; /* Posicionar el elemento en el 50% izquierdo de la pantalla */
  transform: translateX(-50%); /* Desplazar el elemento hacia la izquierda un 50% de su ancho */
  /* background-color: #fff;  *//* Estilos adicionales... */
  padding: 10px;
  border-radius: 5px;
  display: flex;
}

.centered-img {
  position: fixed;
  top: 1%; /* Posicionar el elemento en el 50% superior de la pantalla */
  left: 95%; /* Posicionar el elemento en el 50% izquierdo de la pantalla */
  /* background-color: #fff;  *//* Estilos adicionales... */
  display: flex;
}