@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
:root{
  --header-height: 3rem;
  --nav-width: 200px;
  --first-color: #062280;
  --first-color-light: #6BADEB;
  --white-color: #F7F6FB;
  --body-font: 'Nunito', sans-serif;
  --normal-font-size: 1rem;
  --z-fixed: 100
}

*,::before,::after{
  box-sizing: border-box
}

body{
  position: relative;
  margin: var(--header-height) 0 0 0;
  padding: 0 1rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: .5s
}

a{
  text-decoration: none
}

.header{
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: var(--white-color);
  z-index: var(--z-fixed);
  transition: .5s
}

.header_toggle{
  color: var(--first-color);
  font-size: 1.5rem;
  cursor: pointer
}

.header_img{width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden
}

.header_img img{
  width: 40px
}

.l-navbar{
  position: fixed;
  top: 0;
  left: 0%;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--first-color);
  padding: .5rem 1rem 0 0;
  transition: .5s;
  z-index: var(--z-fixed)
}

.nav{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden
}

.nav_logo, .nav_link{
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: .5rem 0 .5rem 1.5rem
}

.nav_logo{
  margin-bottom: 2rem
}

.nav_logo-icon{
  font-size: 1.25rem;
  color: var(--white-color)
}

.nav_logo-name{
  color: var(--white-color);
  font-weight: 700
}

.nav_link{
  position: relative;
  color: var(--first-color-light);
  margin-bottom: 1.5rem;
  transition: .3s
}

.nav_link:hover{
  color: var(--white-color)
}

.nav_icon{
  font-size: 1.25rem
}

.show{
  left: 0
}

.body-pd{
  padding-left: calc(var(--nav-width) + 1rem)
}

.active{
  color: var(--white-color)
}

.active::before{
  content: '';
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: var(--white-color)
}

.height-100{
  height:100vh

}

@media screen and (min-width: 768px){
  body{
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 2rem)
  }
  
  .header{
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem)
  }
  
  .header_img{
    width: 40px;
    height: 40px
  }
  
  .header_img img{
    width: 45px
  }
  
  .l-navbar{
    left: 0;
    padding: 1rem 1rem 0 0rem;
  }
  
  .show{
    width: calc(var(--nav-width) + 156px)
  }
  
  .body-pd{
    padding-left: calc(var(--nav-width) + 188px)
  }
}
body {
  letter-spacing: 0.0625em;
}
.btn-sidebar{
    position: absolute;
    z-index: 2;
      top: 10px;
      left: 45px;
      height: 37px;
      width: 37px;
      text-align: center;
      background: #062280;
      border-radius: 3px;
      cursor: pointer;
      transition: left 0.4s ease;
  }
  .btn-sidebar.click{
    left: 260px;
  }
  .btn-sidebar span{
      color: white;
      font-size: 15px;
      line-height: 36px;
  }
  .btn-sidebar.click span:before{
    content: '\f00d';
  }
  .sidebar{
    position: fixed;
    width: 250px;
    height: 100%;
    left: -250px;
    background: #1b1b1b;
    transition: left 0.4s ease;
    overflow-y: auto;
  }
  
  .sidebar.show{
    left: 0px;
  }
  .sidebar .text{
    color: white;
    font-size: 19px;
    font-weight: 600;
    line-height: 65px;
    text-align: center;
    background: #1e1e1e;
    letter-spacing: 1px;
  }

  nav ul{
    background: #1b1b1b;
    height: 100%;
    width: 100%;
    list-style: none;
        padding-left: 10px;
  }
  nav ul li{
    line-height: 50px;
    border-top: 1px solid rgba(255,255,255,0.1);
  }
  nav ul li:last-child{
    border-bottom: 1px solid rgba(255,255,255,0.05);
  }
  nav ul li a{
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 13px;
    padding-left: 14px;
    font-weight: 500;
    display: block;
    width: 100%;
    border-left: 3px solid transparent;
  }
  nav ul li.active a{
    color: #fff;
      background: #1e1e1e;
      border-left-color: #023ab4;
  }
  nav ul li a:hover{
    background: #1e1e1e;
  }
  
  .feat-show{
    transition: all 0.5s;
  }
  
  nav ul li.active ul{
   transition: all 0.5s;
  }
  nav ul ul{
    position: static;
    display: none; 
  }
  
  nav ul.show{
    display: block;
    transition: all 0.5s;
  }
  
  nav ul ul li{
    line-height: 42px;
    border-top: none;
  }
  nav ul ul li a{
    font-size: 12px;
    color: #e6e6e6;
    
  }
  nav ul li.active ul li a{
    color: #e6e6e6;
    background: #1b1b1b;
    border-left-color: transparent;
  }
  
  a:hover{
    color: #d4d2d2 !important;
  }
  nav ul ul li a:hover{
    color: #d4d2d2 !important;
    background: #1e1e1e !important;
  }
  nav ul li a span{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 15px;
    transition: transform 0.4s;
  }
  nav ul li a span.rotate{
    transform: translateY(-50%) rotate(-180deg);
  }

  .sidebar-image{
    text-align: center;
    margin: 20px;
  }

  .sidebar-image img{
    max-width: 100%;
    height: auto;
  }
  .main-content{
    position: relative;
    z-index: 1;
    transition-duration: 0.4s;
    margin-left: 0;
    height: auto;
    min-height: 35rem;
    padding: 5rem 0;
    background: linear-gradient(to bottom, rgba(210, 209, 209, 1) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("../views/img/zyro-image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }